# Base de datos PostgreSQL
DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/code_tutor_ai

# Groq
GROQ_API_KEY=tu_api_key_de_groq
GROQ_MODEL=openai/gpt-oss-120b

# JWT
JWT_SECRET_KEY=tu_clave_secreta_para_jwt
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=10080

# CORS
CORS_ORIGINS=http://localhost:5173
